:root {
--color-iris: #4d5ae5;
--color-ocean: #404bbf;
--color-navy-blue: #2e2f42;
--color-green: #31d0aa;
--color-slate: #434455;
--color-light-slate: #8e8f99;
--color-cornflower: #e7e9fc;
--color-cloud: #f4f4fd;
--color-navy-blue-modal: #2e2f42;
--color-grey: #2e2f42;
--color-white: #ffffff;
--color-dairy: #fcfcfc;
--currentcolor: #8e8f99;

--animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
   text-decoration: none;
   color: inherit; 
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
}

/* --- */
body {
    background-color: var(--color-white);
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.02em;
    color: var(--color-slate);
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-size: 36px;
    line-height: calc(40/36);
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

/* Header */

.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapper {
    display: flex;    
}

.header-wrapper > nav {
    display: flex;
    margin-right: auto;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    color: var(--color-navy-blue);
    padding-bottom: 28px;
    transition: color var(--animation);
}

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean);

}

.current {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}

.current span {
    color: var(--color-navy-blue)
}

.header-list {
    display: flex;
    margin-right: auto;
    gap: 40px;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.address-link {   
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    transition: color var(--animation);  
}

.adress-list__item {
    margin-right: 40px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active,
.address-link:hover,
.address-link:focus {
    color: var(--color-ocean);
}

/* Hero */

.hero {
    padding: 188px 0;
    background-color: var(--color-grey);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ), 
    url("../images/officework.jpg");
}

.hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    color: var(--color-white);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--color-white);
    transition: background-color var(--animation);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-ocean);
}

.pointer {
    cursor: pointer;
}

/* Features */

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.features-list__link {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--color-navy-blue);
}

.features-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
}

/* What are we doing */

.works {
    padding-top: 0;
}

.works-title {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: calc(40/36);
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.works-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* Our Team */

.team {
    background-color: var(--color-cloud);
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list__item {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    text-align: center;
}

.team-meta {
    padding: 32px 16px;
}

.team-subtitle {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--color-navy-blue);
}

.list-item__pos {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

/* Socials */

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    border-radius: 50%;
    fill: var(--color-cloud);
    transition: backgroun-color var(--animation);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--color-ocean);
}

/* Customers */

.customers {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.customers-list__link {
    display: flex;
    width: 168px;
    height: 88px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    outline: transparent;
    fill: var(--color-light-slate);
    transition: fill var(--animation);
}

.customers-list__link:hover,
.customers-list__link:focus {
    fill: var(--color-ocean);
    border: 1px solid var(--color-ocean);
    border-radius: 4px;
}

/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    background-color: var(--color-navy-blue);
    gap: 120px;
    margin: 0 auto;
}

.footer > .container {
    display: flex;
}

.footer-container {
    margin-right: 120px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}

.footer-logo span {
    color: var(--color-cloud)
}

.footer-text {
    margin-top: 16px;
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    color: var(--color-cloud);
}

.social-media {
    margin-right: 80px;
}

.social-media__text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-white);
    margin-bottom: 16px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--color-cloud);
    transition: background-color var(--animation);
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--color-green);
    opacity: 1;
}

.footer-form {
    display: inline-flex;
}

.footer-form__caption {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-white);
}

.footer-form__field {
    width: 264px;
    height: 40px;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    background-color: var(--color-navy-blue);

    margin-right: 24px;
    padding: 8px 16px;
}

.footer-form__field::placeholder {
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: var(--color-white);
}
.footer-form__button {
    position: relative;
    /* display: block; */
    /* margin: 0 auto; */
    padding: 8px 24px;
    width: 165px;
    text-align: left;

    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 500;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: var(--color-white);

    transition: background-color var(--animation);
}

.footer-form__button:hover,
.footer-form__button:focus {
    background-color: var(--color-ocean);    
}
.footer-form__icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    fill: var(--color-white);

    transition: background-color var(--animation);
}


/* Portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.list-btn {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 20px;
}

.filtr-btn {
    padding: 12px 24px;
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    background-color: var(--color-cloud);
    font-weight: 500;
    color: var(--color-iris);
    transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.filtr-btn:hover,
.filtr-btn:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
}

.cards-list__item {
    width: 360px;
}

.cards-link {
    display: block;
    outline: transparent;
    transition: box-shadow var(--animation);
}

.cards-link__thumb {
    position: relative;
    display: block;
    overflow: hidden;
}

.cards-link:hover .overlay, 
.cards-link:focus .overlay {
    transform: translateY(0%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--color-iris);
    transition: transform var(--animation);
    transform: translateY(100%);
}

.cards-link__content {
    line-height: calc(24 / 16);
    color: var(--color-cloud);
}

.cards-link:hover,
.cards-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-meta {
    background-color: var(--color-white);
    border: 1px solid var(--color-cornflower);
    border-top: none;
    padding: 32px 0;
}

.cards-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    margin-bottom: 8px;
    margin-left: 16px;
}

.cards-desc {
    margin-left: 16px;
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 408px;
    height: 576px;
    padding: 0 24px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: opacity var(--animation) 250ms, var(--animation) 250ms;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.4);
}

.modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-24px) translateY(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-cornflower);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color var(--animation);
}

.modal-close__icon {
    fill: var(--color-navy-blue);
}

.modal-btn:hover > .modal-close__icon,.modal-btn:focus > .modal-close__icon {
    fill: var(--color-white);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--color-ocean); 
}


.modal-form__caption {
    margin-top: 72px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: calc(24 /16);
    text-align: center;
    color: #2E2F42;
}

.modal-form__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}
.modal-form__group {
    position: relative;
    margin-bottom: 8px;
}
.modal-form__field {
    padding-left: 38px;
    width: 360px;
    height: 40px;

    opacity: 0.2;
    border: 1px solid var(--color-navy-blue);
    border-radius: 4px;

    outline: 1px solid transparent;
    outline-offset: -1px;

    transition:  opacity var(--animation);
}

.modal-form__field:focus,
.modal-form__text:focus {
    outline-color: var(--color-iris);
    opacity: 1;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--color-navy-blue);

    transition:  fill var(--animation);
}

.modal-form__field:focus + .modal-form__icon {
    fill: var(--color-iris);
}

textarea {
    resize: none;
    width: 360px;
    height: 120px;

    opacity: 0.2;
    border: 1px solid var(--color-navy-blue);
    border-radius: 4px
}

.modal-form__text {
    display: block;
    padding: 8px 16px;
    margin-bottom: 16px;

    transition:  opacity var(--animation);    
}

.modal-form__text::placeholder {
    font-size: 12px;
    line-height: calc (14 / 12);
    letter-spacing: 0.04em;
    color: var(--color-navy-blue-modal);
}

.modal-form__agree {
    display: flex;
    margin-bottom: 24px;
    gap: 8px;
    align-items: center;
}

/* checkbox */
.checked {
    opacity: 0;
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox > .checked{
    opacity: 1;
}
.unchecked {
    opacity: 1;
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox > .unchecked{
    opacity: 0;
}
.modal-form__custom-checkbox .uncheked{
    stroke: var(--color-navy-blue-modal);
    fill: var(--color-dairy);
}
/*  */

.modal-form__agree-text {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.modal-form__agree-link {
    text-decoration-line: underline;
    color: var(--color-iris);
}

.modal-form__button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    width: 169px;

    background-color: var(--color-iris);
    border-radius: 4px;

    font-weight: 500;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: var(--color-white);

    transition: background-color var(--animation), box-shadow var(--animation);
}

.modal-form__button:hover,
.modal-form__button:focus {
    background-color: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
}